<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/inicio/Euro" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Cotação</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Cotações</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/inicio/Conversor">Conversor</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Usuários</a>
        </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Cotação</h1>
        <p class="fs-5 text-muted">Veja a cotação de sua moeda favorita, compare preços e veja diferença de valores, tudo isso no mesmo lugar.</p>
    </div>
</header>